.overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-image: linear-gradient(to right, rgba(72, 85, 99, .7) 0%, rgba(41, 50, 60,.7) 100%);
  }
  li:hover .overlay{
    opacity: 1;
  }
  .overlay-text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }